.wrapper {
    background-color: #fff;
    color: #444;
    /* Use flexbox */
    display: flex;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

    /* Use box-sizing so that element's outerwidth will match
width property */
    box-sizing: border-box;

    /* Allow box to grow and shrink, and ensure they are all
equally sized */
    flex: 1 1 auto;
}

.handler {
    width: 10px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
}

.handler::before {
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    //background: red;
    margin: 0 auto;
}
.handler-vert {
    height: 10px;
    padding: 0;
    cursor: ns-resize;
    flex: 0 0 auto;
}

.handler-vert::before {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    //background: red;
    margin: 0 auto;
}
